.seeMoreBtn {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--light-blue);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
